<div class="container-create-button">
  <button mat-flat-button color="primary" routerLink="/dashboard/crear-pokemon">
    <mat-icon>receipt</mat-icon> Crear Pokemon
  </button>
</div>

<div class="container-xs">
  <h2 *ngIf = "pokemonList.length == 0" style="color:black">
    No existen pokemones para enlistar 😔.
  </h2> 
</div>

<div *ngIf="pokemonList.length > 0" class="container-xs">
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ingresar nombre pokemon" #input>
      </mat-form-field>

    <div class="mat-elevation-z8 container-table">
        <table mat-table [dataSource]="dataSource" matSort >

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
    
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
        
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef> Imagen </th>
              <td mat-cell *matCellDef="let element"> <img [src]="element.image" mat-card-avatar/></td>
            </ng-container>
    
            <ng-container matColumnDef="hp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> HP </th>
                <td mat-cell *matCellDef="let element"> {{element.hp}} </td>
              </ng-container>
          
            <ng-container matColumnDef="attack">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Ataque </th>
              <td mat-cell *matCellDef="let element"> {{element.attack}} </td>
            </ng-container>
          
            <ng-container matColumnDef="defense">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Defensa </th>
              <td mat-cell *matCellDef="let element"> {{element.defense}} </td>
            </ng-container>
    
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef style="text-align: right;"> Acciones </th>
                <td mat-cell *matCellDef="let element" style="text-align: right;"> 
                    <a [routerLink]="'/dashboard/update-pokemon/'+ element.id" class="pointer" style="color: #1878b0" matTooltip="Editar Pokemon">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <a class="pointer" (click)="deletePokemon(element.id)" style="color: #f44235" matTooltip="Eliminar Pokemon">
                        <mat-icon>delete_forever</mat-icon>
                    </a>
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons 
                     aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>

  
  